<!DOCTYPE html>
<html lang="en">
  <%- include ('./head') %>

  <body class="account-page">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <div class="account-content">
          <%- include('../Auth/'+page_path) %>        
      </div>
    </div>
    <!-- /Main Wrapper -->

    <%- include ('./script') %>
  </body>
</html>
