<div class="content">

	<div class="row">
		<div class="col-md-12">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row align-items-center">
					<div class="col-sm-8">
						<h4 class="page-title">Industry <span class="count-title">123</span></h4>
					</div>
					<div class="col-sm-4 text-sm-end">
						<div class="head-icons">
							<a href="industry" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Refresh"><i class="ti ti-refresh-dot"></i></a>
							<a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Collapse" id="collapse-header"><i class="ti ti-chevrons-up"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="card">

				<div class="card-header">
					<!-- Search -->
					<div class="row align-items-center">
						<div class="col-sm-4">
							<div class="icon-form mb-3 mb-sm-0">
								<span class="form-icon"><i class="ti ti-search"></i></span>
								<input type="text" class="form-control" placeholder="Search Industry">
							</div>							
						</div>		
						<div class="col-sm-8">					
							<div class="text-sm-end">
								<a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_industry"><i class="ti ti-square-rounded-plus me-2"></i>Add New Industry</a>
							</div>
						</div>
					</div>
					<!-- /Search -->
				</div>

				<div class="card-body">

					<!-- Industry List -->
					<div class="table-responsive custom-table">
						<table class="table" id="industry-list">
							<thead class="thead-light">
								<tr>
									<th class="no-sort">
										<label class="checkboxs">
											<input type="checkbox" id="select-all"><span class="checkmarks"></span>
										</label>
									</th>
									<th>Title</th>
									<th>Created at</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="datatable-length"></div>
						</div>
						<div class="col-md-6">
							<div class="datatable-paginate"></div>
						</div>
					</div>
					<!-- /Industry List -->

				</div>
			</div>

		</div>
	</div>

</div>
		<!-- Add New Industry -->
		<div class="modal fade" id="add_industry" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add New Industry</h5>
						<button class="btn-close custom-btn-close border p-1 me-0 text-dark" data-bs-dismiss="modal" aria-label="Close">	
							<i class="ti ti-x"></i>
						</button>
					</div>
					<form action="industry">
						<div class="modal-body">
							<div class="mb-3">
								<label class="col-form-label">Industry Name <span class="text-danger">*</span></label>
								<input type="text" class="form-control">
							</div>
							<div class="mb-0">
								<label class="col-form-label">Status</label>
								<div class="d-flex align-items-center">
									<div class="me-2">
										<input type="radio" class="status-radio" id="add-active" name="status" checked="">
										<label for="add-active">Active</label>
									</div>
									<div>
										<input type="radio" class="status-radio" id="add-inactive" name="status">
										<label for="add-inactive">Inactive</label>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="d-flex align-items-center justify-content-end m-0">
								<a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
								<button type="submit" class="btn btn-primary">Create</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /Add New Industry -->

		<!-- Edit Industry -->
		<div class="modal fade" id="edit_industry" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Industry</h5>
						<button class="btn-close custom-btn-close border p-1 me-0 text-dark" data-bs-dismiss="modal" aria-label="Close">	
							<i class="ti ti-x"></i>
						</button>
					</div>
					<form action="industry">
						<div class="modal-body">
							<div class="mb-3">
								<label class="col-form-label">Industry Name <span class="text-danger">*</span></label>
								<input type="text" class="form-control" value="Retail Industry">
							</div>
							<div class="mb-0">
								<label class="col-form-label">Status</label>
								<div class="d-flex align-items-center">
									<div class="me-2">
										<input type="radio" class="status-radio" id="edit-active" name="status" checked="">
										<label for="edit-active">Active</label>
									</div>
									<div >
										<input type="radio" class="status-radio" id="edit-inactive" name="status">
										<label for="edit-inactive">Inactive</label>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="d-flex align-items-center justify-content-end m-0">
								<a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
								<button type="submit" class="btn btn-primary">Save Changes</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /Edit Industry -->

		<!-- Delete Industry -->
		<div class="modal fade" id="delete_industry" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="text-center">
							<div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
								<i class="ti ti-trash-x fs-36 text-danger"></i>
							</div>
							<h4 class="mb-2">Remove Industry?</h4>
							<p class="mb-0">AAre you sure you want to remove it.</p>
							<div class="d-flex align-items-center justify-content-center mt-4">
								<a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
								<a href="industry" class="btn btn-danger">Yes, Delete it</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Industry -->