<div class="content container-fluid">
  <!-- Page Header -->
  <div class="crms-title row bg-white mb-4">
    <div class="col">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
          <i class="la la-table"></i>
        </span>
        <span>Horizontal Timeline</span>
      </h3>
    </div>
    <div class="col text-end">
      <ul class="breadcrumb bg-white float-end m-0 ps-0 pe-0">
        <li class="breadcrumb-item"><a href="index">Dashboard</a></li>
        <li class="breadcrumb-item active">Horizontal Timeline</li>
      </ul>
    </div>
  </div>

  <!-- /Page Header -->

  <div class="row">
    <!-- Timeline -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="cd-horizontal-timeline">
            <div class="timeline">
              <div class="events-wrapper">
                <div class="events">
                  <ol>
                    <li>
                      <a href="#0" data-date="16/01/2014" class="selected"
                        >16 Jan</a
                      >
                    </li>
                    <li><a href="#0" data-date="28/02/2014">28 Feb</a></li>
                    <li><a href="#0" data-date="20/04/2014">20 Mar</a></li>
                    <li><a href="#0" data-date="20/05/2014">20 May</a></li>
                    <li><a href="#0" data-date="09/07/2014">09 Jul</a></li>
                    <li><a href="#0" data-date="30/08/2014">30 Aug</a></li>
                    <li><a href="#0" data-date="15/09/2014">15 Sep</a></li>
                    <li><a href="#0" data-date="01/11/2014">01 Nov</a></li>
                    <li><a href="#0" data-date="10/12/2014">10 Dec</a></li>
                    <li><a href="#0" data-date="19/01/2015">29 Jan</a></li>
                    <li><a href="#0" data-date="03/03/2015">3 Mar</a></li>
                  </ol>
                  <span class="filling-line" aria-hidden="true"></span>
                </div>
                <!-- events -->
              </div>
              <ul class="cd-timeline-navigation">
                <li><a href="#0" class="prev inactive">Prev</a></li>
                <li><a href="#0" class="next">Next</a></li>
              </ul>
              <!-- cd-timeline-navigation -->
            </div>
            <!-- timeline -->
            <div class="events-content">
              <ol>
                <li class="selected" data-date="16/01/2014">
                  <h3><small>Title 01</small></h3>
                  <p class="m-t-40">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Illum praesentium officia, fugit recusandae ipsa, quia velit
                    nulla adipisci? Consequuntur aspernatur at, eaque hic
                    repellendus sit dicta consequatur quae, ut harum ipsam
                    molestias maxime non nisi reiciendis eligendi! Doloremque
                    quia pariatur harum ea amet quibusdam quisquam, quae,
                    temporibus dolores porro doloribus.
                  </p>
                </li>
                <li data-date="28/02/2014">
                  <h3><small>Title 02</small></h3>
                  <p class="m-t-40">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Illum praesentium officia, fugit recusandae ipsa, quia velit
                    nulla adipisci? Consequuntur aspernatur at, eaque hic
                    repellendus sit dicta consequatur quae, ut harum ipsam
                    molestias maxime non nisi reiciendis eligendi! Doloremque
                    quia pariatur harum ea amet quibusdam quisquam, quae,
                    temporibus dolores porro doloribus.
                  </p>
                </li>
                <li data-date="20/04/2014">
                  <h3><small>Title 03</small></h3>
                  <p class="m-t-40">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Illum praesentium officia, fugit recusandae ipsa, quia velit
                    nulla adipisci? Consequuntur aspernatur at, eaque hic
                    repellendus sit dicta consequatur quae, ut harum ipsam
                    molestias maxime non nisi reiciendis eligendi! Doloremque
                    quia pariatur harum ea amet quibusdam quisquam, quae,
                    temporibus dolores porro doloribus.
                  </p>
                </li>
                <li data-date="20/05/2014">
                  <h3><small>Title 04</small></h3>
                  <p class="m-t-40">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Illum praesentium officia, fugit recusandae ipsa, quia velit
                    nulla adipisci? Consequuntur aspernatur at, eaque hic
                    repellendus sit dicta consequatur quae, ut harum ipsam
                    molestias maxime non nisi reiciendis eligendi! Doloremque
                    quia pariatur harum ea amet quibusdam quisquam, quae,
                    temporibus dolores porro doloribus.
                  </p>
                </li>
                <li data-date="09/07/2014">
                  <h3><small>Title 05</small></h3>
                  <p class="m-t-40">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Illum praesentium officia, fugit recusandae ipsa, quia velit
                    nulla adipisci? Consequuntur aspernatur at, eaque hic
                    repellendus sit dicta consequatur quae, ut harum ipsam
                    molestias maxime non nisi reiciendis eligendi! Doloremque
                    quia pariatur harum ea amet quibusdam quisquam, quae,
                    temporibus dolores porro doloribus.
                  </p>
                </li>
                <li data-date="30/08/2014">
                  <h3><small>Title 06</small></h3>
                  <p class="m-t-40">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Illum praesentium officia, fugit recusandae ipsa, quia velit
                    nulla adipisci? Consequuntur aspernatur at, eaque hic
                    repellendus sit dicta consequatur quae, ut harum ipsam
                    molestias maxime non nisi reiciendis eligendi! Doloremque
                    quia pariatur harum ea amet quibusdam quisquam, quae,
                    temporibus dolores porro doloribus.
                  </p>
                </li>
                <li data-date="15/09/2014">
                  <h3><small>Title 07</small></h3>
                  <p class="m-t-40">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Illum praesentium officia, fugit recusandae ipsa, quia velit
                    nulla adipisci? Consequuntur aspernatur at, eaque hic
                    repellendus sit dicta consequatur quae, ut harum ipsam
                    molestias maxime non nisi reiciendis eligendi! Doloremque
                    quia pariatur harum ea amet quibusdam quisquam, quae,
                    temporibus dolores porro doloribus.
                  </p>
                </li>
                <li data-date="01/11/2014">
                  <h3><small>Event List</small></h3>
                  <p class="m-t-40">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Illum praesentium officia, fugit recusandae ipsa, quia velit
                    nulla adipisci? Consequuntur aspernatur at, eaque hic
                    repellendus sit dicta consequatur quae, ut harum ipsam
                    molestias maxime non nisi reiciendis eligendi! Doloremque
                    quia pariatur harum ea amet quibusdam quisquam, quae,
                    temporibus dolores porro doloribus.
                  </p>
                </li>
                <li data-date="10/12/2014">
                  <h3><small>Event Item</small></h3>
                  <p class="m-t-40">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Illum praesentium officia, fugit recusandae ipsa, quia velit
                    nulla adipisci? Consequuntur aspernatur at, eaque hic
                    repellendus sit dicta consequatur quae, ut harum ipsam
                    molestias maxime non nisi reiciendis eligendi! Doloremque
                    quia pariatur harum ea amet quibusdam quisquam, quae,
                    temporibus dolores porro doloribus.
                  </p>
                </li>
                <li data-date="19/01/2015">
                  <h3><small>Event title</small></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Illum praesentium officia, fugit recusandae ipsa, quia velit
                    nulla adipisci? Consequuntur aspernatur at, eaque hic
                    repellendus sit dicta consequatur quae, ut harum ipsam
                    molestias maxime non nisi reiciendis eligendi! Doloremque
                    quia pariatur harum ea amet quibusdam quisquam, quae,
                    temporibus dolores porro doloribus.
                  </p>
                </li>
                <li data-date="03/03/2015">
                  <h3><small>Event title</small></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Illum praesentium officia, fugit recusandae ipsa, quia velit
                    nulla adipisci? Consequuntur aspernatur at, eaque hic
                    repellendus sit dicta consequatur quae, ut harum ipsam
                    molestias maxime non nisi reiciendis eligendi! Doloremque
                    quia pariatur harum ea amet quibusdam quisquam, quae,
                    temporibus dolores porro doloribus.
                  </p>
                </li>
              </ol>
            </div>
            <!-- .events-content -->
          </div>
        </div>
      </div>
    </div>
    <!-- /Ribbon -->
  </div>
</div>
