<div class="content container-fluid">
  <!-- Page Header -->
  <div class="crms-title row bg-white mb-4">
    <div class="col">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
          <i class="la la-table"></i>
        </span>
        <span>Lightbox</span>
      </h3>
    </div>
    <div class="col text-end">
      <ul class="breadcrumb bg-white float-end m-0 ps-0 pe-0">
        <li class="breadcrumb-item"><a href="index">Dashboard</a></li>
        <li class="breadcrumb-item active">Lightbox</li>
      </ul>
    </div>
  </div>

  <!-- /Page Header -->

  <div class="row">
    <!-- Lightbox -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Single Image Lightbox</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mb-2 mb-md-0">
              <a href="assets/img/img-01.jpg" class="image-popup">
                <img
                  src="assets/img/img-01.jpg"
                  class="img-fluid"
                  alt="image"
                />
              </a>
            </div>
            <div class="col-md-4 mb-2 mb-md-0">
              <a href="assets/img/img-02.jpg" class="image-popup">
                <img
                  src="assets/img/img-02.jpg"
                  class="img-fluid"
                  alt="image"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Lightbox -->

    <!-- Lightbox -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Image with Description</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mb-2 mb-md-0">
              <a
                href="assets/img/img-03.jpg"
                class="image-popup-desc"
                data-title="Title 01"
                data-description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
              >
                <img
                  src="assets/img/img-03.jpg"
                  class="img-fluid"
                  alt="work-thumbnail"
                />
              </a>
            </div>
            <div class="col-md-4 mb-2 mb-md-0">
              <a
                href="assets/img/img-04.jpg"
                class="image-popup-desc"
                data-title="Title 02"
                data-description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
              >
                <img
                  src="assets/img/img-04.jpg"
                  class="img-fluid"
                  alt="work-thumbnail"
                />
              </a>
            </div>
            <div class="col-md-4 mb-2 mb-md-0">
              <a
                href="assets/img/img-05.jpg"
                class="image-popup-desc"
                data-title="Title 03"
                data-description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit"
              >
                <img
                  src="assets/img/img-05.jpg"
                  class="img-fluid"
                  alt="work-thumbnail"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Lightbox -->
  </div>
</div>
