<div class="content container-fluid">
  <!-- Page Header -->
  <div class="crms-title row bg-white mb-4">
    <div class="col">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
          <i class="la la-table"></i>
        </span>
        <span>Notification</span>
      </h3>
    </div>
    <div class="col text-end">
      <ul class="breadcrumb bg-white float-end m-0 ps-0 pe-0">
        <li class="breadcrumb-item"><a href="index">Dashboard</a></li>
        <li class="breadcrumb-item active">Notification</li>
      </ul>
    </div>
  </div>

  <!-- /Page Header -->

  <div class="row">
    <!-- Alert -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Alert</div>
        </div>
        <div class="card-body">
          <a
            href="javascript: void(0);"
            id="alert"
            class="btn btn-primary waves-effect waves-light"
            >Click me</a
          >
        </div>
      </div>
    </div>
    <!-- /Alert -->

    <!-- Alert -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Confirm</div>
        </div>
        <div class="card-body">
          <a
            href="javascript: void(0);"
            id="alert-confirm"
            class="btn btn-primary waves-effect waves-light"
            >Click me</a
          >
        </div>
      </div>
    </div>
    <!-- /Alert -->

    <!-- Alert -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Prompt</div>
        </div>
        <div class="card-body">
          <a
            href="javascript: void(0);"
            id="alert-prompt"
            class="btn btn-primary waves-effect waves-light"
            >Click me</a
          >
        </div>
      </div>
    </div>
    <!-- /Alert -->

    <!-- Alert -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Success Alert</div>
        </div>
        <div class="card-body">
          <a
            href="javascript: void(0);"
            id="alert-success"
            class="btn btn-primary btn-sm waves-effect waves-light"
            >Click me</a
          >
        </div>
      </div>
    </div>
    <!-- /Alert -->

    <!-- Alert -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Error Alert</div>
        </div>
        <div class="card-body">
          <a
            href="javascript: void(0);"
            id="alert-error"
            class="btn btn-primary btn-sm waves-effect waves-light"
            >Click me</a
          >
        </div>
      </div>
    </div>
    <!-- /Alert -->

    <!-- Alert -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Warnng Alert</div>
        </div>
        <div class="card-body">
          <a
            href="javascript: void(0);"
            id="alert-warning"
            class="btn btn-primary btn-sm waves-effect waves-light"
            >Click me</a
          >
        </div>
      </div>
    </div>
    <!-- /Alert -->
  </div>
</div>
